<nav class="navigation left">
  <ul class="links">
    <li class="links item">
      <a href="/#open" class="link-item" title="Veja meus posts" id="blog-button">Blog</a>
      <a href="https://twitch.com/o_gabsferreira" target="_blank" class="link-item" title="Acompanhe minhas lives" id="blog-button">Lives</a>
      <a href="https://tinyletter.com/o_gabsferreira" target="_blank" class="link-item" title="Assine minha newsletter!" id="newsletter-button">Newsletter</a>
      <!--<a href="/contato" class="link-item" title="Fale comigo" id="apoio-button">Contato</a>-->
      <a href="/about" class="link-item" title="Quem sou eu?" id="tags-button">Sobre</a>
    </li>
  </ul>
</nav>
