<nav class="navigation left">
  <ul class="links">
    <li class="links item">
      <a href="/#open" class="link-item" title="Veja meus posts" id="blog-button">Blog</a>
      <a href="/conheca-o-podcast-carreira-sem-fronteiras" class="link-item" title="Conheça meu podcast" id="blog-button">Blog</a>
      <a href="/about" class="link-item" title="Quem sou eu?" id="tags-button">Sobre</a>
      <a href="/contato" class="link-item" title="Entre em contato comigo" id="contact-button">Contato</a>
      <a href="/newsletter" class="link-item" title="Assine minha newsletter!" id="newsletter-button">Newsletter</a>
      <a href="/gosta-do-meu-trabalho-que-tal-me-apoiar" class="link-item" title="Ajude a manter meu conteúdo no ar" id="apoio-button">Me apoie</a>
    </li>
  </ul>
</nav>
