<nav class="navigation left">
  <ul class="links">
    <li class="links item">
      <a href="/#open" class="link-item" title="link to {{@blog.title}} blog" id="blog-button">Blog</a>
      <a href="/about" class="link-item" title="" id="tags-button">Sobre</a>
      <a href="/contato" class="link-item" title="" id="contact-button">Contato</a>
	  <a href="/newsletter" class="link-item" title="" id="newsletter-button">Newsletter</a>
    </li>
  </ul>
</nav>
